.patient{
height:100vh;
display:flex;
flex-direction:column;
align-items:center;
justify-content:center;
background:#ffffff;
}

.patient input{
width:320px;
padding:12px;
margin:8px;
border:1px solid #ccc;
border-radius:8px;
}

.patient button{
margin-top:20px;
padding:12px 30px;
background:#0077cc;
color:white;
border:none;
border-radius:8px;
font-size:18px;
cursor:pointer;
}